
<div id="LeadSection" class="page-header section-dark" style="background-image: url('assets/img/login-image.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="avatar">
                    <img src="assets/img/IMG_4356.png" alt="Circle Image" class="my-face img-circle img-no-padding img-responsive">
                </div>
                <h1 class="presentation-title">Alex Kurata</h1>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>

            <div class="presentation-subtitle text-center">

              <div class="row">
                <div class="col">
                  <h4 class="info-title">Software Developer</h4>
                  <p>
                    BS Computer Science - Marist College <br/>
                    (203) 214-3333 <br/>
                    akurata100@gmail.com
                  </p>
                </div>
              </div>

              <div class="row main-btn-row">
                <div class="col-lg-4 col-sm-6">
                  <a type="button" (click)="scroller.scrollTo('AboutMeSection')" class="btn btn-outline-info btn-lg">About Me</a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a type="button" (click)="scroller.scrollTo('SkillsSection')" class="btn btn-outline-success btn-lg">Skills</a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a type="button" (click)="scroller.scrollTo('ExperiencesSection')" class="btn btn-outline-primary btn-lg">Experiences</a>
                </div>
                <!--
                <div class="col-lg-3 col-sm-6">
                  <a type="button" (click)="scroller.scrollTo('DemosSection')" class="btn btn-outline-info btn-lg">Demos</a>
                </div>
                -->
              </div>
            </div>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <div class="bottom-fade"></div>
</div>
