
ngb-progressbar {
    margin-top: 5rem;
}

.particle-background {
  position: absolute;
  display: block;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  position: relative;
  background-color: rgba(0,0,0,0);
}

.main {
  background: rgba(0,0,0,0);
}
