
<div id="AboutMeSection" class="section section-dark transparent-background">
  <div class="container">
    <div class="title text-center">
        <h2>About Me</h2>
        <h4 class="description">
          My name is Alex Kurata, I am a software developer from Milford, CT. Welcome to my website!
        </h4>
        <h4 class="description">
          Since picking up my first internship after my freshman year at Marist College, I have been focused on continuously working toward expanding my skill set and broadening my experiences as a developer. So far, I have amassed over 5 years of experience working with small and large clients to quickly and reliably produce high-quality software for their needs.
        </h4>
        <h4 class="description">
          For many of the projects I have had the opportunity to work on, I have been the sole developer, responsible for quickly engineering relatively large software stacks. This proved to be a nice way to allow me to experiment and grow, while also having nowhere to hide when someone finds a bug. Although I am proud of the work I have done on these projects, I enjoy getting to work on larger-scale projects with a development team.
        </h4>
        <h4 class="description">
          The various projects I've worked on have required me to become very comfortable with learning quickly. I am always excited to learn something new and love to push myself to improve. I aspire to get my Master's degree after getting some more hands-on experience in the industry.
        </h4>
    </div>
    <hr/>
    <div class="title text-center">
      <h2>Education</h2>
      <div class="pt-3">
        <h5 class="edu-subtitle">BS Marist College '20</h5>
        <h6 class="description">Major: Computer Science</h6>
        <h6 class="description">Minor: Information Technology, Information Systems</h6>
      </div>
    </div>
  </div>
</div>
